.header__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   padding: 2rem;

   @media screen and (min-width: 768px) {
      flex-direction: row;
   }
}

.header__img {
   width: 200px;
   height: 250px;
   border-radius: 2px;

   @media screen and (min-width: 768px) {
      max-width: 240px;
      margin-right: 3rem;
   }
}

.header__profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   margin-top: 2rem;
   height: 20rem;

   @media screen and (min-width: 576px) {
      margin-top: 0.5rem;
   }

   @media screen and (min-width: 768px) {
      align-items: flex-start;
   }

   @media screen and (min-width: 992px) {
      height: 17rem;
   }

   .header__span {
      font-size: 1.2rem;
   }

   .header__h2 {
      font-size: 2rem;
      margin: 8px 0;

      @media screen and (min-width: 576px) {
         font-size: 2.3rem;
         margin: -1.5rem 0;
      }
   }

   .header__p {
      text-align: center;
      line-height: 21px;
      margin-bottom: 1rem;
      line-height: 1.5rem;

      @media screen and (min-width: 576px) {
         font-size: 1.1rem;
         margin-bottom: -1rem;
      }

      @media screen and (min-width: 768px) {
         text-align: inherit;
      }
   }
}
